include layouts/layoutBS

.body.container-fluid.content
    h2 #{pageTitle}
    h2 No Details About This Phone
    form(action='/home')
        button.btn.bg-primary(type='submit' style="color : white") Back Home